<h3>
    Pages
    <button type="button" class="btn btn-primary" data-controller="modal" data-action="modal#open" data-modal-url-value="{{ path('app_page_add') }}">
        New page
    </button>
</h3>    
<table
    id="page-table" 
    class="table table-striped"
    data-controller="table"
    data-url="{{ path('app_page_index') }}"
    data-action="modal:success->table#reload"
    data-table="page"
>
    {% include 'page/_table.html.twig' %}
</table>

