{% extends 'base.html.twig' %}

{% block title %}Administration | Page {{ page.title }} | {{ parent() }}{% endblock %}

{% block body %}

    <a class="btn btn-sm btn-primary mb-5"
        href="{{ path('app_administration') }}">
        <i class="fa-solid fa-chevron-left"></i> Back
    </a>
    <h3>Page {{ page.title }}</h3>    
    {% include 'page/_page_edit.html.twig' %}
{% endblock %}