{% extends '_modal-content.html.twig' %}
{% block modalTitle %}Create a new field{% endblock %}
{% block modalBody %}

    {{ form(form) }}

	<!-- <form data-controller="form" data-form-url-value="{{ path('app_field_add') }}" data-form-submit-label-value="Submit">
		<div class="mb-3">
      <label for="type" class="form-label">Type</label>
			<select class="form-select" id="type" name="type">
				<option value="text" selected>Text</option>
			</select>
		</div>
		<div class="mb-3">
			<label for="label" class="form-label">Label</label>
			<input type="text" class="form-control" id="label" name="label">
		</div>
		<button type="button" class="btn btn-primary" data-action="form#submit" data-form-target="submitBtn">Submit</button>
    <div data-form-target="errors" class="text-danger"></div>
	</form> -->

{% endblock %}
