{% extends 'base.html.twig' %}
{% block title %}Fields | {{ parent() }}{% endblock %}
{% block body %}

    <h1>Fields</h1>
    <button type="button" class="btn btn-primary" data-controller="modal" data-action="modal#open" data-modal-url-value="{{ path('app_field_add') }}">
        Create new field
    </button>

{% endblock %}