{% extends 'base.html.twig' %}

{% block title %}Administration | {{ parent() }}{% endblock %}

{% block body %}

    <div class="container-fluid">
        {# <h1>Fields</h1>
        <button type="button" class="btn btn-primary" data-controller="modal" data-action="modal#open" data-modal-url-value="{{ path('app_field_add') }}">
            Create new field
        </button> #}

        {% include 'module/index.html.twig' %}

    </div>
    
{% endblock %}
