{% extends 'base.html.twig' %}

{% block title %}Administration | {{ parent() }}{% endblock %}

{% block body %}

    <div class="container-fluid">
        {% include 'layout/index.html.twig' %}
        {% include 'module/index.html.twig' %}
        {% include 'listing/index.html.twig' %}
        {% include 'page/index.html.twig' %}
        
    </div>
    
{% endblock %}
