<!-- Modal -->
<div class="modal" id="modal" tabindex="-1" data-controller="modal" aria-labelledby="modalLabel" aria-hidden="true" data-action="form:closemodal->modal#close">
  <div class="modal-dialog">
  </div>
</div>