<h3>
    Attributes
    <button type="button" class="btn btn-primary" data-controller="modal" data-action="modal#open" data-modal-url-value="{{ path('app_field_add', {'moduleId': module.id }) }}">
        New attribute
    </button>
</h3>    
<table id="field-table" 
    class="table table-striped"
    data-controller="table"
    data-url="{{ path('app_field_index', {'moduleId': module.id }) }}"
    data-action="modal:success->table#reload"
    data-table="field">
    {% include 'field/_table.html.twig' %}
</table>

