<h3>
    Entities
    <button type="button" class="btn btn-primary" data-controller="modal" data-action="modal#open" data-modal-url-value="{{ path('app_module_add') }}">
        New entity
    </button>
</h3>    
<table id="module-table"
    class="table table-striped"
    data-controller="table"
    data-url="{{ path('app_module_index') }}"
    data-action="modal:success->table#reload"
    data-table="module"
>
    {% include 'module/_table.html.twig' %}
</table>

