{% extends 'application_base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block body %}

    <h1>TEST</h1>

    {% for children in page.htmlElements %}
        <h1>{{ children.id }}</h1>
        {% if children.parent is empty %}
            {% include 'page/html_element_view.html.twig' %}
        {% endif %}
    {% endfor %}
{% endblock %}