<div class="modal-content">
	<div class="modal-header">
		<h1 class="modal-title fs-5" id="modalLabel">{% block modalTitle %}Modal title{% endblock %}</h1>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	<div class="modal-body">
		{% block modalBody %}Modal title{% endblock %}
	</div>
</div>
