<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">{{ title }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times text-dark"></i></button>
    </div>
    <div class="modal-body">
        {% include 'includes/_form.html.twig' %}
    </div>
    <script>
        $(function(){
                
            $('.form-select').select2( {
                theme: "bootstrap-5",
                width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $(this).hasClass( 'w-100') ? '100%' : 'style',
                minimumResultsForSearch: Infinity,
                selectionCssClass : 'no-search'
            });

        })
    </script>
</div>