<h3>
    Listings
    <button type="button" class="btn btn-primary" data-controller="modal" data-action="modal#open" data-modal-url-value="{{ path('app_listing_add') }}">
        New listing
    </button>
</h3>    
<table 
    id="listing-table" 
    class="table table-striped"
    data-controller="table"
    data-url="{{ path('app_listing_index') }}"
    data-action="modal:success->table#reload"
    data-table="listing"
>
    {% include 'listing/_table.html.twig' %}
</table>

