<h3>
    Tables
    <button type="button" class="btn btn-primary" data-controller="modal" data-action="modal#open" data-modal-url-value="{{ path('app_table_add', {'moduleId': module.id }) }}">
        New table
    </button>
</h3>    
<table 
    id="tables-table" 
    class="table table-striped"
    data-controller="table"
    data-url="{{ path('app_table_index', {'moduleId': module.id }) }}"
    data-action="modal:success->table#reload"
    data-table="table"
>
    {% include 'table/_table.html.twig' %}
</table>

