<table 
    id="table-{{table.module.sqlTable}}" 
    class="table table-striped"
    data-controller="table"
    data-url="{{ path('app_application_table_reload', {'id':table.id}) }}"
    data-action="modal:success->table#reload"
    data-table="{{table.module.sqlTable}}"
>
    {% include '_application/components/_table.html.twig' %}
</table>