<button type="button" class="btn btn-sm" data-controller="modal" data-action="modal#open" data-modal-url-value="{{ path('app_htmlelement_delete', {'id': htmlelement.id}) }}">
    <i class="fas fa-trash"></i>
</button>
