<button 
    type="button"
    class="btn btn-primary btn-bootstrap-block"
    data-controller="modal"
    data-action="modal#open"
    data-modal-url-value="{{ path('app_htmlelement_add_to_layout', {'layoutId': layout.id} ) }}"
>
    <i class="fas fa-plus me-3"></i>New HTML element
</button>